<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style_error.css}">
    <title>Error</title>
</head>
<body>

<h1>Dont come closer, high voltage (500)</h1>
<h2>Please return back for the security of your processor and video card.</h2>
<a th:href="@{/}">Click here to return to save zone.</a>
<img th:src="@{/img/high_voltage.jpeg}" alt="danger">
</body>
</html>