@import "https://use.fontawesome.com/releases/v5.15.1/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html {
    background: black;
}
.footer {
    font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    background: lightblue;

    padding: 20px 20px;
    color: black;
}

.footer > ul {
    display: flex;
    flex-direction: row;
}


.footer > ul > li {
    list-style: none;
    padding: 10px 10px;
}

.footer > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

@media screen and (max-width: 600px) {
    footer {
        display: block;
        font-size: 1em;
    }
}