@import "https://use.fontawesome.com/releases/v5.15.1/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html {
    background: black;
}

.footer {
    border-top: 10px solid black;
    font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
    padding: 20px 20px;
    color: black;

}

.footer > ul {
    display: flex;
    flex-direction: row;
}


.footer > ul > li {
    list-style: none;
    padding: 10px 10px;
}

.footer > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.coryright {
    margin: 5px;
    padding: 2px;
}

.mail {
    padding-left: 3px;
    padding-right: 3px;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
}

@media screen and (max-width: 600px) {
    footer {
        display: block;
        font-size: 1em;
        padding-bottom: 5px;
        margin-bottom: 3px;
    }

    .footer-li {
        display: flex;
        flex-direction: column;
    }
}