html, * {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif, 'Montserrat', sans-serif;
}

body {
    width: 1350px;
    margin: 0 auto;
}

h2 {
    border-bottom: 1px solid black;
    margin: 15px auto;
    padding-bottom: 10px;
    width: 600px;
}

.static-info {
    font-size: 1.3em;
    border-top: 10px solid black;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    background: lightblue;
}

main {
    background: linear-gradient(to right, lightblue, black);
    border-bottom: 10px solid black;
    background: lightblue;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-info {

    margin: 10px;
    line-height: 2;
    padding: 30px;
    width: 20vw;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            blue,
            rgba(0, 0, 0, 0)
    ) 1 100%;
    border-radius: 30px;

}