body {

    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    font-size: 1.3em;
    text-decoration: none;
    border: 3px solid black;
    padding: 10px 20px;
    background: orange;
    color: black;
    border-radius: 30px;
}

img {
    margin: 10px;
    width: 800px;
    height: 400px;
    align-items: center;
    border: 5px solid white;
    border-radius: 30px;
}

a:hover {
    background: lightblue;
}