@import "https://use.fontawesome.com/releases/v5.15.1/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html, * {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
}

html {
    min-width: 550px;
    background: black;
}


body {

    margin: 0 auto;
}

.welcome {
    align-items: center;
    margin: 20px auto;
    width: 400px;
    border-bottom: 1px solid black;

}

.heading-intro {
    border-top: 10px solid black;
    background: lightblue;
    line-height: 2;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 1.3em;
}

.single-content {
    background: whitesmoke;
    border: 5px solid white;
    padding: 30px;
    font-size: 1.3em;
    border-radius: 10px;
    line-height: 1.5;
    margin: 20px;
}

.blog-title {
    font-weight: bolder;
    border-bottom: 1px solid black;
}

.blog-content-head {
    font-size: 1.1em;
    font-weight: bolder;
}

.blog-content {
    display: flex;
    flex-direction: column;
    background: lightblue;
    padding: 30px;
}

.date-added {
    margin-top: 10px;
    text-align: right;
}

.left-padd {
    padding-left: 20px;
    font-size: 1.2em;
}

.delete-blog {
    list-style: none;
    border: 5px solid orange;
    padding: 20px 10px;

    background: white;
    border-radius: 10px;
    width: fit-content;
    transition: background 3s;
}

@keyframes background {
    from {
        background-color: white;
    }
    to {
        background-color: orange;
    }
}


.delete-blog:hover {
    width: fit-content;
    background: orange;
}

.delete-blog a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.index {
    display: flex;
    justify-content: center;
}

.name-title {
    animation: border 3s infinite;
}

.single-content:hover {
    animation: hover 0.3s 2;
}
.fas{
    padding-right: 5px;
}


@keyframes hover {
    0% {
        border: 5px solid green;
    }
    100% {
        border: 5px solid white;
    }
}

@keyframes border {
    0% {
        border-bottom: white;
        color: white;
    }
    50% {
        border-bottom: orange;
        color: darkgoldenrod;
    }
    100% {
        border-bottom: darkgoldenrod;
        color: white;
    }
}