html, * {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif, 'Montserrat', sans-serif;
}

body {
    width: 1350px;
    margin: 0 auto;
}

.setting {
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    display: flex;
    flex-direction: column;
    line-height: 3;

    align-items: center;
    background: lightblue;
    padding: 50px;
}

.title-name {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}

.content-blog{
    width: 85vw;
    height: 100px;
    border-radius: 10px;
    padding-left: 10px;
}
.button-style {
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px 40px;
    color: black;
    font-weight: bold;
    background: orange;
    font-size: 1.1em;
}


.button-style:hover {
    font-size: 1.3em;
    color: white;
}

.stage{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.button-style {
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px 40px;
    color: black;
    font-weight: bold;
    background: orange;
    font-size: 1.1em;

}

.button-style:hover {
    font-size: 1.3em;
    color: white;
}

.disease{
    align-items: center;
    width: 700px;
}