@import "https://use.fontawesome.com/releases/v5.15.1/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html, * {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
}

html {
    min-width: 550px;
    background: black;
}

body {
    margin: 0 auto;
}


.div-main {
    border-top: 10px solid black;
    text-align: center;
    padding: 30px 30px;
    background: lightblue;
    color: white;
    line-height: 2;
}

.name {
    font-size: 90px;
    letter-spacing: 20px;

    transform: translateZ(-1px) scale(1.3);
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        color: white;
    }
    100% {
        color: darkgoldenrod;
    }

    0% {
        font-size: 80px;
    }

    100% {
        font-size: 88px;
    }
}

.info {

    border-top: 10px solid black;
    background: lightblue;

    text-align: center;
    padding: 50px 40px;
}

.info-start {
    padding-top: 20px;
}

.info ul > li {

    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
    list-style: none;
    line-height: 3;
}

.info-list > li > i {
    color: white;
    padding-right: 10px;
}

.benefit-kt {
    border-top: 10px solid black;

    background: lightblue;
    color: white;
    /*height: 40vh;*/
    padding: 30px 30px;
    font-size: 1.6em;
}

.benefit-kt > p {
    text-align: center;
    padding: 70px 20px;
}

.benefit-kt-ul > ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;

}

.benefit-kt-li > a {
    padding: 20px 20px;
    border-radius: 10px;
    border: 6px solid white;
    box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.31);
}

.benefit-kt-li > a {
    text-decoration: none;
    color: white;
}

.benefit-kt-li > a:hover {
    color: lightblue;
    font-weight: bold;
    background: white;
}

.name:hover {
    color: darkgoldenrod;
}

@media screen and (max-width: 1000px ) {
    * {
        display: block;
        font-size: 1em;
    }

    .name {
        font-size: 1.2em;
    }

    .benefit-kt {
        display: block;
        font-size: 1em;
    }
}