@import "https://use.fontawesome.com/releases/v5.15.1/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html, * {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
}

html {
    min-width: 550px;
    background: black;
}


body {
    margin: 0 auto;
}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background: lightblue;
}

aside {
    line-height: 2;
    padding: 15px;
    border: 5px solid white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.wrap-action {
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    border: 3px solid white;
    border-radius: 30px;
}

.home-pic {
    margin-left: 150px;
    align-items: center;
    width: 660px;
    height: 500px;
    border: 3px solid white;

    border-radius: 10px;
}

aside h2 {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

aside ul li a {
    color: black;
    line-height: 2;
    text-decoration: none;
}

aside ul li {
    list-style: none;
}

.fa-arrow-circle-right {
    padding-right: 10px;
    color: orange;
    font-size: 1.2em;
}

.action-hover a:hover {
    color: orange;
    font-size: 1.1em;
    font-weight: bolder;
}

.name-person {
    margin-bottom: 15px;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}

.image {
    border-radius: 30px;
    border: 5px solid black;
}

.auto-jsCalendar {
    width: auto;
    margin-right: 80px;
}

.wrap-calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.ul-action {
    padding: 30px;
    border-radius: 30px;
    border: 10px solid lightblue;
}

@media screen and (max-width: 1324px) {
    .wrap-calendar {
        margin: 0;
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }


    .home-pic, .auto-jsCalendar, .logo {
        display: none;
    }

    .wrap-action {
        margin: 0;
        display: flex;
        align-content: space-around;
    }
}