@import "https://use.fontawesome.com/releases/v5.15.1/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html, * {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
}

html {
    min-width: 584px;
    background: black;
}

body {
    margin: 0 auto;
}

.main-info {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.help-info {
    margin: 0 auto;
    text-align: center;
}

p > a {

    text-align: center;
    text-decoration: none;
    color: black;

}

main {
    padding: 30px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background: lightblue;
}

main > h2 {
    margin: 30px auto;
    padding: 10px;
    width: 600px;
    text-align: center;
    border-bottom: 1px solid black;
}

.wrap-info {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.wrap-info-inside {
    width: 500px;
    height: 50px;
    padding-left: 20px;
    border-radius: 20px;
    margin: 10px;
}

.title {
    margin-top: 10px;
    font-weight: bolder;
}

.content {
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    font-size: 1.2em;
    width: 800px;
    height: 500px;
}

button {
    margin-top: 10px;
    padding: 20px 40px;
    background: orange;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    font-size: 1.3em;
}

button:hover {

    background: white;
    color: orange;
    font-weight: bolder;
    font-size: 1.5em;
}

.p-style {
    margin-top: 6px;
    border-radius: 10px;
    padding: 10px 5px;
    background: orange;
    text-align: center;
}

details {
    align-items: center;

}

summary {
    list-style: none;
}

.plan-example {
    width: 600px;
    height: 600px;
    align-items: center;
}

.wrap-pic {
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fa-info-circle {
    color: orange;
    font-size: 1.3em;
    padding-right: 10px;
}

@media screen and (max-width: 1000px ) {
    * {
        display: block;
        font-size: 1em;
    }
    .content{
        width: 400px;
    }
}