@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html, * {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
}

html {
    background: black;
}

h2 {
    border-top: 10px solid black;
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
}

body {

    background: lightblue;
    min-height: 70vh;
    margin: 0 auto;
}

table {
    margin: 30px auto;
    border: 3px solid black;
    padding: 7px;
    font-size: 1.5em;
}

table, th, td, tr {
    text-align: center;
    align-content: center;
    padding: 10px;
    border: 3px solid black;
}


tbody > tr:nth-child(even) {
    background: #CCC
}

tbody > tr:nth-child(odd) {
    background: #FFF
}

thead > tr {
    background: darkgrey;
}

tbody > tr:hover {
    background: yellow;
    border-color: red;
}

table {
    background: lightgray;
}

