<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_add_blog.css}">
    <title>Motorious</title>
</head>
<body>
<header th:include="/fragment/source :: navigation"></header>
<main>
    <h2>Add blog content</h2>
    <form th:object="${addBlogBindingModel}" th:action="@{/blog/add-blog}" method="POST">
        <p>Title</p>
        <label>
            <input th:field="*{title}" class="title-name" type="text">
            <br>
            <small class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Enter valid info.</small>
            <br>
        </label>

        <p>Content</p>
        <label>
            <textarea th:field="*{content}" class="content-blog"></textarea>
            <br>
            <small class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Enter valid
                info.</small>
            <br>
        </label>

        <button class="button-style" type="submit">Submit content</button>
    </form>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>