<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style_blog.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Motorious</title>
</head>
<body>
<header th:include="/fragment/source :: navigation">

</header>
<main>
    <section class="heading-intro">
        <article class="welcome">
            <h2>
                Blog
            </h2>
        </article>
        <p>
            Here is the place where with a few word our professionals will talk about useful guidelines and tips from
            practice.
        </p>
        <p th:text="|Total blogs: ${size}|">Total blogs:</p>
        <div class="index"  id="chart_div"></div>
    </section>

    <section class="blog-content">
        <th:block th:each="blog, iter : ${blogViewModels}">
            <section class="single-content">
                <p class="blog-title">Title:</p>
                <h5 th:text="*{blog.title}" class="blog-content-head left-padd">
                    Good tips for recovery of immobilized leg after injury
                </h5>
                <article>Info:</article>
                <p th:text="*{blog.content}" class="left-padd">For fastest and complete recovery of immobilized leg
                    after injury, we have
                    to use exercise with light
                    weights.
                    Also toning massage about 30min every time before the procedure. After the massage we could use post
                    isometric relaxation.</p>
                <p th:text="|Date added: *{blog.date}|" class="date-added">Date added: <span>01.03.2021</span></p>
                <p th:text="|Author: *{blog.author}|" class="date-added">Author: <span>Someone one</span></p>
                <p th:text="|Identification code: *{blog.id}|" class="date-added">Identification code:
                    <span>one</span></p>
                <ul>
                    <li class="delete-blog" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/blog/delete/{id}(id = *{blog.id})}" type="button"
                        >Delete blog</a>
                    </li>
                </ul>

            </section>
        </th:block>

    </section>
</main>

<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['gauge']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['Total blogs', [[${size}]]],
        ]);

        var options = {
            width: 400, height: 200,
            redFrom: 90, redTo: 120,
            yellowFrom: 75, yellowTo: 90,
            minorTicks: 5, max: 120
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
</html>