<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_role_change.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">

    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <title>Delete user by username</title>
</head>
<body>
<header th:include="/fragment/source :: navigation"></header>
<main class="wrap-change">
    <form th:object="${userChangeRoleBindingModel}" th:action="@{/user/delete-user}" method="POST">
        <h2>Delete user</h2>
        <p class="wise">Delete user by username</p>
        <section class="action">
            <label class="first">Enter username
                <input th:field="*{username}" class="username-enter" type="text"
                       placeholder="Enter valid username">
            </label>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Username
                length must be more than 6
                characters
            </p>
            <br>
            <br>
            <br>
            <button type="submit">Send changes</button>
        </section>
    </form>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>

</body>
</html>