<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/fragment/source :: favicon"> </th:block>
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style_exercise_info.css}">
    <title>Motorious</title>
</head>
<body>
<header th:include="/fragment/source :: navigation">

</header>
<main class="main-content">
    <section class="main-info">
        <h2>Exercises</h2>
        <p>Exercise is an excellent tool for maintaining good health. Here we will describe some of the main types we
            use in
            our practice. </p>
    </section>

    <section class="info-pic">
        <article class="exercise">
            <p class="exercise-heading">Exercises with weights</p>
            <article>

                <img class="pic-size" th:src="@{/img/exercise_with_machines.jpg}" alt="exercise">
            </article>

            <article class="exercise-info">
                Exercises with machines and weights are good for people witch are in the final period of their recovery.
                Тhey are used to strengthen muscles and keep the body toned and healthy.
            </article>
        </article>

        <article class="exercise">
            <p class="exercise-heading">Exercises in water, swimming</p>
            <article>

                <img class="pic-size" th:src="@{/img/swimming.jpeg}" alt="exercise">
            </article>

            <article class="exercise-info">
                Exercises in water or swimming are suitable for people who do not yet have strong enough muscles. For
                example when one client has a broken bone and after the immobilization period the muscles are atrophied
                and weak.
            </article>
        </article>

        <article class="exercise">
            <p class="exercise-heading">Treadmills and bicycles</p>
            <article>


                <img class="pic-size" th:src="@{/img/treadmill.jpg}" alt="exercise">
            </article>

            <article class="exercise-info">
                Bicycle are an excellent tool for people with heart disease or varicose veins in the legs.
                Treadmill is great for overweight people.
            </article>
        </article>

        <article class="exercise">
            <p class="exercise-heading">Еxercises with own weight</p>
            <article>

                <img class="pic-size" th:src="@{/img/bodyweigth.png}" alt="exercise">
            </article>

            <article class="exercise-info">
                Exercises with body weight are excellent for people in the middle of the recovery period. With these
                exercises you can begin to strengthen the body and muscles.
            </article>
        </article>

    </section>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>