<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/fragment/source :: favicon"></th:block>
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_home.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <script src="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.4/source/jsCalendar.min.js"
            integrity="sha384-0LaRLH/U5g8eCAwewLGQRyC/O+g0kXh8P+5pWpzijxwYczD3nKETIqUyhuA8B/UB"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/homeMenu.js}" type="module"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.4/source/jsCalendar.min.css"
          integrity="sha384-44GnAqZy9yUojzFPjdcUpP822DGm1ebORKY8pe6TkHuqJ038FANyfBYBpRvw8O9w"
          crossorigin="anonymous">
    <title>Motorious</title>
</head>
<body>
<header th:include="/fragment/source :: navigation">
</header>
<main>
    <a class="stone" href="mailto:motorious.headquarters@gmail.com"><i class="fas fa-mail-bulk"></i>write us</a>
    <h2 class="name-person" th:text="|Hello, ${user}|">Hello,...</h2>
    <section class="wrap-calendar">
        <img class="image" th:src="${image}" alt="Picture" width="250px" height="250px"
             style="margin-left: 65px;">
        <img class="image logo" th:src="@{/img/Logo.png}" alt="Logo" width="550px" height="320px">
        <div class="auto-jsCalendar"></div>
    </section>
    <section class="wrap-action">
        <aside>
            <h2 id=menu>
                <span class="a">A</span>ction panel
                <p id="i-menu">Hide menu <i class="fas fa-minus"></i></p>
            </h2>
            <ul class="ul-action" style="display: block">
                <li class="action-hover">
                    <a th:href="@{/}"><i class="fas fa-arrow-circle-right"></i><i class="fas fa-info"></i> Info page</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="action-hover">
                    <a th:href="@{/profile/edit/{username}(username = ${user})}"><i
                            class="fas fa-arrow-circle-right"></i><i class="fas fa-id-badge"></i> Profile</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="action-hover">
                    <a th:href="@{/info/blog}"><i
                            class="fas fa-arrow-circle-right"></i><i class="fas fa-book"></i> View blogs</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/blog/add-blog}"><i class="fas fa-arrow-circle-right"></i><i class="fas fa-pen"></i>
                        Add blog</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="action-hover">
                    <a th:href="@{/blog/view-blog-delete}"><i class="fas fa-arrow-circle-right"></i><i class="fas fa-eraser"></i>
                        Delete blog</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/measurement/add}"><i class="fas fa-arrow-circle-right"></i><i class="fas fa-pen"></i>
                        Add measurement</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/treatment/add}"><i class="fas fa-arrow-circle-right"></i><i class="fas fa-pen"></i>
                        Add treatment</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="action-hover">
                    <a th:href="@{/role/role-change}"><i class="fas fa-arrow-circle-right"></i><i
                            class="fas fa-user-shield"></i> Change role</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="action-hover">
                    <a th:href="@{/role/role-downgrade}"><i class="fas fa-arrow-circle-right"></i><i
                            class="fas fa-user-shield"></i> Downgrade role</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/client/all/(username = ${user})}"><i class="fas fa-arrow-circle-right"></i><i
                            class="fas fa-users"></i>
                        View your
                        clients</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="action-hover">
                    <a th:href="@{/treatment/check/(username = ${user})}"><i
                            class="fas fa-arrow-circle-right"></i><i class="fas fa-file-medical-alt"></i> Check
                        treatment</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="action-hover">
                    <a th:href="@{/measurement/check/(username = ${user})}"><i
                            class="fas fa-arrow-circle-right"></i><i class="fas fa-file-medical-alt"></i> Check
                        measurement</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="action-hover">
                    <a th:href="@{/user/all-users}"><i class="fas fa-arrow-circle-right"></i><i
                            class="fas fa-users"></i> View all users</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="action-hover">
                    <a th:href="@{/user/delete-user}"><i class="fas fa-arrow-circle-right"></i><i
                            class="fas fa-user-alt-slash"></i> Delete user</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="action-hover">
                    <a th:href="@{/measurement/logs}"><i class="fas fa-arrow-circle-right"></i><i
                            class="fas fa-passport"></i> Measurement activity</a>
                </li>
            </ul>
        </aside>
        <article>
            <img class="home-pic" th:src="@{img/index.jpeg}" alt="home pic">
            <section class="qr">
                <section class="qr-inner">
                    <div>Scan to navigate to our address. <i class="fas fa-map-marked"></i></div>
                    <img class="codes" th:src="@{/img/QR_code_address.png}" alt="address">
                </section>
                <section class="qr-inner">
                    <div>Scan to make a call to us <i class="fas fa-phone-square"></i></div>
                    <img class="codes" th:src="@{/img/QR_code_phone.png}" alt="phone">
                </section>
            </section>
        </article>
    </section>
    <div th:include="/fragment/source :: benefit"></div>
</main>
<div th:include="/fragment/source :: footer"></div>

</body>

</html>