<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_home.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <title>Motorious</title>
</head>
<body>
<header th:include="/fragment/source :: navigation">

</header>
<main>

    <h2 class="name-person" th:text="|Hello, ${user.username}|">Hello,...</h2>
    <img class="image" th:src="${image}" alt="Picture" width="200px" height="200px" >
    <section class="wrap-action">
        <aside>
            <h2>Action panel</h2>
            <ul>
                <li class="action-hover">
                    <a th:href="@{/}"><i class="fas fa-arrow-circle-right"></i>Info page</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/blog/add-blog}"><i class="fas fa-arrow-circle-right"></i>Add blog</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/measurement/add}"><i class="fas fa-arrow-circle-right"></i>Add measurement</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="action-hover">
                    <a th:href="@{/role/role-change}"><i class="fas fa-arrow-circle-right"></i>Change role</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="action-hover">
                    <a th:href="@{/role/role-downgrade}"><i class="fas fa-arrow-circle-right"></i>Downgrade role</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/#}"><i class="fas fa-arrow-circle-right"></i>Add procedure</a>
                </li>
                <li sec:authorize="hasRole('ROLE_KINESITHERAPIST')" class="action-hover">
                    <a th:href="@{/#}"><i class="fas fa-arrow-circle-right"></i>Add treatment</a>
                </li>
                <li class="action-hover">
                    <a th:href="@{/#}"><i class="fas fa-arrow-circle-right"></i>Check treatment</a>
                </li>
                <li class="action-hover">
                    <a th:href="@{/measurement/check/(username = *{user.username})}"><i
                            class="fas fa-arrow-circle-right"></i>Check measurement</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="action-hover">
                    <a th:href="@{/user/all-users}"><i class="fas fa-arrow-circle-right"></i>View all users</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="action-hover">
                    <a th:href="@{/user/delete-user}"><i class="fas fa-arrow-circle-right"></i>Delete user</a>
                </li>
            </ul>
        </aside>
        <article>
            <img class="home-pic" th:src="@{img/index.jpeg}" alt="home pic">
        </article>
    </section>
    <div th:include="/fragment/source :: benefit"></div>
</main>
<div th:include="/fragment/source :: footer"></div>

</body>
</html>