<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/fragment/source :: favicon"></th:block>
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <script th:src="@{/js/view.js}"></script>
    <title>Motorious</title>
</head>
<body>
<main>
    <header th:include="/fragment/source :: navigation">
    </header>
    <div class="div-main">
        <h2>
            Center for kinesitherapy
        </h2>
        <h1 class="name">
            Motorious
        </h1>
        <h3 class="years">For over
            <strong>28</strong>
            years people have entrusted their health to us.
        </h3>
        <h2>
            Our mission is yours full recovery.
        </h2>
    </div>
    <div class="info">
        <h3 class="info-title">If you have a recent musculoskeletal disease or injury you are in the right place.</h3>
        <p class="info-start">Here you can:</p>
        <ul class="info-list">
            <li>
                <i class="fas fa-star"></i> See your treatment prescribed by your kinesitherapist.
            </li>
            <li>
                <i class="fas fa-star"></i> Check your personal measurement.
            </li>
            <li>
                <i class="fas fa-star"></i> Read our blog with news written especially by our professionals.
            </li>
        </ul>
        <section class="qr">
            <section class="qr-inner">
                <div>Scan to navigate to our address.</div>
                <img class="codes" th:src="@{/img/QR_code_address.png}" alt="address">
            </section>
            <section class="qr-inner">
                <div>Scan to make a call to us</div>
                <img class="codes" th:src="@{/img/QR_code_phone.png}" alt="phone">
            </section>
        </section>
        <section>
            <p>Download our business contact card</p>
            <a th:href="@{/img/business-card.png}" download><i class="fas fa-address-card"></i> Download</a>
        </section>
    </div>
    <p class="find-us">Find us in the easiest way <i class="fas fa-route"></i></p>
    <div id="map"></div>

    <div th:include="/fragment/source :: benefit"></div>

    <div th:include="/fragment/source :: footer"></div>
</main>
</body>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQS4pY-ctgM2bSCUMwkBKjeD5tHA4Hpbw&callback=initMap&libraries=&v=weekly"
        async
></script>
</html>