<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style_measurement_check.css}">
    <link rel="stylesheet" th:href="@{/css/style_treatment_check.css}">
    <link rel="stylesheet" th:href="@{/css/style_view_client_by_username.css}">
    <title>Client by username</title>
</head>
<body>
<header th:include="/fragment/source :: navigation"></header>
<main>
    <section class="treatment">
        <h2 th:text="|Client username: ${username}|"></h2>
        <h2>Treatments</h2>
        <h2 th:if="${noTreatment}">No treatment for now.</h2>

        <section th:each="t : ${allTreatments}" class="wrap-treatment">
            <section class="main-check">
                <img alt="treatment" class="treatment-pic" th:src="@{/img/treatment.jpeg}">
                <p th:text="|Date: *{t.dateAdded}|">Date:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Disease: *{t.disease}|">Disease:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Duration (in week): *{t.duration}|">Duration:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Visits per week: *{t.visits}|">Visits:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Goal: *{t.goal}|">Goal:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Content: *{t.content}|">Content:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Kinesitherapist: ${t.ktFullName}|">Kinesitherapist:</p>
                <p><a class="delete" th:href="@{/client/delete/{id}(id = ${t.id})}">Delete treatment</a></p>
            </section>
        </section>
    </section>

    <section class="measurement">
        <h2>Measurements</h2>
        <h2 th:if="${noMeasurement}">No measurement for now.</h2>
        <section th:each="m : ${allMeasurements}" class="wrap-measurement">
            <section class="main-check">
                <img alt="measurement" class="measurement-pic" th:src="@{/img/measurement.jpeg}">
                <p th:text="|Date: *{m.date}|">Date:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Client age: *{m.age}|">Client age:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Stage: *{m.stage}|">Stage:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Disease: *{m.disease}|">Disease:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Content: *{m.content}|">Content:</p>
                <i class="fas fa-info-circle"></i>
                <p th:text="|Kinesitherapist: *{m.ktFullName}|">Kinesitherapist:</p>
                <p><a class="delete" th:href="@{/client/delete/{id}(id = ${m.id})}">Delete measurement</a></p>
            </section>
        </section>
    </section>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>