<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_massage_info.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <title>Motorious</title>
</head>
<body>
<header th:include="/fragment/source :: navigation">

</header>
<main class="main-content">
    <section class="main-info">
        <h2>Massages</h2>
        <p>Massages are excellent for every period of the recovery - early, middle or final period. </p>
    </section>

    <section class="info-pic">
        <article class="exercise">
            <p class="exercise-heading">Relaxing massage</p>
            <article>
                <img class="pic-size" th:src="@{/img/massage.jpeg}" alt="exercise">
            </article>

            <article class="exercise-info">
                Relaxing massage are good for people with tense muscles. Only with 30min procedure we can have a relaxed
                muscles and with better tone.
            </article>
        </article>

        <article class="exercise">
            <p class="exercise-heading">Тoning massage</p>
            <article>
                <img class="pic-size" th:src="@{/img/massage.jpeg}" alt="exercise">
            </article>

            <article class="exercise-info">
                Тoning massage are used when the muscles are weak and their tone should be improved. It is used mostly
                after bone fractures.
            </article>
        </article>

        <article class="exercise">
            <p class="exercise-heading">Healing massage</p>
            <article>
                <img class="pic-size" th:src="@{/img/massage.jpeg}">
            </article>

            <article class="exercise-info">
                Healing massage are used when the client has a specific disease and the problem must be treated locally.
            </article>
        </article>

        <article class="exercise">
            <p class="exercise-heading">Specialized massage</p>
            <article>
                <img class="pic-size" th:src="@{/img/massage.jpeg}" alt="exercise">
            </article>

            <article class="exercise-info">
                Specialized massage used in our practise are chinese massage and acupressure. They are good when the
                client has a problem with some of the
                internal organs.
            </article>
        </article>

    </section>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>


</body>
</html>