<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_measurement_check.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <title>Measurement check</title>
</head>
<body>

<header th:include="/fragment/source :: navigation"></header>

<main>
    <h2>Here you can take a look at your measurements.</h2>
    <h2 th:if="${no}">You have no measurement for now.</h2>
    <section th:each="m : ${allMeasurements}" class="wrap-measurement">
        <section class="main-check">
            <img alt="measurement" class="measurement-pic" th:src="@{/img/measurement.jpeg}">

            <p th:text="|Date: *{m.date}|">Date:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Client age: *{m.age}|">Client age:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Stage: *{m.stage}|">Stage:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Disease: *{m.disease}|">Disease:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Content: *{m.content}|">Content:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Kinesitherapist: *{m.createdBy}|">Kinesitherapist:</p>
        </section>
    </section>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>