<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_measurement_add.css}">
    <link rel="stylesheet" href="style_measurement_add.css">
    <title>Measurement add</title>
</head>
<body>
<header th:include="/fragment/source :: navigation"></header>
<form th:object="${measurementAddBindingModel}" th:action="@{/measurement/add}" method="post">
    <main class="setting">
        <h2>Add measurement</h2>
        <p>Enter username</p>
        <label>
            <p class="p-style" th:if="${userFound}">Username don't exist!</p>
            <input th:field="*{username}" class="title-name" type="text">
            <p th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}" class="p-style">Username
                length must be more than 6
                characters</p>
        </label>

        <p>Age</p>
        <label>
            <input th:field="*{age}" class="title-name" type="number">
            <p th:if="${#fields.hasErrors('age')}"
               th:errors="*{age}" class="p-style">Enter valid age.</p>
        </label>

        <label for="stage" class="stage">Choose stage
            <select th:field="*{stage}" name="stage" id="stage" class="title-name">
                <option value="Before first procedure" selected>Before first procedure</option>
                <option value="At the middle of the recovery period">At the middle of the recovery period</option>
                <option value="After last procedure">After last procedure</option>
            </select>
        </label>

        <input type="hidden" th:name="nameKt"  th:value="${name}">
        <p>Disease</p>
        <label>
            <input th:field="*{disease}" class="title-name disease" type="text">
            <p th:if="${#fields.hasErrors('disease')}"
               th:errors="*{disease}" class="p-style">Enter valid age.</p>
        </label>

        <label>Content
            <textarea th:field="*{content}" class="content-blog"></textarea>
            <p th:if="${#fields.hasErrors('content')}"
               th:errors="*{content}" class="p-style">Enter valid age.</p>
        </label>

        <button class="button-style">Submit measurement</button>
    </main>
</form>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>