<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_registration.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <title>Profile</title>
</head>
<body>
<header th:include="/fragment/source :: navigation"></header>
<main>
    <form th:object="${userProfile}" th:action="@{/profile/edit/{username}(username = ${userProfile.username})}"
          method="POST">

        <section class="flex-item-head">
            <img class="image" th:src="${userProfile.imageUrl}" alt="Picture" width="200px" height="200px">
            <section class="head-welcome heading-second">
                <p th:text="|First name: ${userProfile.firstName}|">First name:</p>
                <p th:text="|Last name: ${userProfile.lastName}|">Last name:</p>
                <p th:text="|Email: ${userProfile.email}|">Email:</p>
            </section>
        </section>
        <section class="head-welcome">
            <h2>If you need to change your profile, edit info below:</h2>
        </section>
        <section th:object="${editProfileBindingModel}" class="user-details">

            <div class="info-container">
                <article class="label-style">
                    <label for="inputLastName">Change last name (Only if you want) </label>
                </article>
                <article>
                    <input th:field="${editProfileBindingModel.lastName}" class="input-style" name="lastName"
                           type="text" id="inputLastName"
                           placeholder="Enter last name">
                </article>
                <article>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="${editProfileBindingModel.lastName}"
                       class="p-style">Last name length
                        must be more than 2
                        characters</p>
                </article>
            </div>


            <div class="info-container">
                <article class="label-style">
                    <label for="inputFirstName">Change first name (Only if you want)</label>
                </article>
                <article>
                    <input th:field="${editProfileBindingModel.firstName}" class="input-style" name="firstName"
                           type="text" id="inputFirstName"
                           placeholder="Enter first name">
                </article>
                <article>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="${editProfileBindingModel.firstName}"
                       class="p-style">First name
                        length must be more than 2
                        characters</p>
                </article>
            </div>

            <div class="info-container">
                <label class="label-style" for="image">Change picture (Only if you want)</label>
                <input class="input-style" type="file" id="image" name="image">
            </div>

            <div class="info-container">
                <article class="label-style">
                    <label for="inputEmail">Change email (Only if you want)</label>
                </article>
                <article>
                    <input th:field="${editProfileBindingModel.email}" class="input-style" name="email" type="email"
                           id="inputEmail"
                           placeholder="Enter valid email">
                </article>
                <article>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="${editProfileBindingModel.email}"
                       class="p-style">Enter valid email.</p>
                </article>
            </div>


            <div class="info-container">
                <article class="label-style">
                    <label for="inputPassword">Change password (Only if you want)</label>
                </article>
                <article>
                    <input th:field="${editProfileBindingModel.password}" class="input-style" name="password"
                           type="password" id="inputPassword"
                           placeholder="Enter valid password">
                </article>
                <article>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="${editProfileBindingModel.password}"
                       class="p-style">Enter password length must be more than 6 characters.</p>
                </article>
            </div>

            <div class="info-container">
                <article class="label-style">
                    <label for="inputPasswordConfirm">Confirm password (Only if you want)</label>
                </article>
                <article>
                    <input th:field="${editProfileBindingModel.confirmPassword}" class="input-style"
                           name="confirmPassword" type="password" id="inputPasswordConfirm"
                           placeholder="Enter valid password">
                </article>
            </div>
            <button class="button-style" type="submit">Submit change</button>
        </section>
    </form>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>