<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_registration.css}">

    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <title>Motorious</title>
</head>
<body>
<header th:include="/fragment/source :: navigation">

</header>
<main>
    <form th:object="${userRegisterBindingModel}" th:action="@{/user/registration}" method="POST">
        <section class="head-welcome">
            <h2 class="welcome">Welcome to the register form for our site.</h2>
        </section>
        <section class="user-details">

            <h5 th:if="${isExists}" class="error">User already exists.</h5>
            <h5 th:if="${notSame}" class="error">Password fields do not match.</h5>

            <section class="user-inputs">

                <div class="info-container">
                    <article class="label-style">
                        <label for="inputFirstName">First Name</label>
                    </article>
                    <article>
                        <input th:field="*{firstName}" class="input-style" name="firstName" type="text"
                               id="inputFirstName"
                               placeholder="Enter First Name">
                    </article>
                    <article>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="p-style">First name
                            length must be more than 6
                            characters
                        </p>
                    </article>
                </div>

                <div class="info-container">
                    <article class="label-style">
                        <label for="inputLastName">Last Name</label>
                    </article>
                    <article>
                        <input th:field="*{lastName}" class="input-style" name="lastName" type="text" id="inputLastName"
                               placeholder="Enter Last Name">
                    </article>
                    <article>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="p-style">Last name
                            length must be more than 6
                            characters</p>
                    </article>
                </div>


                <div class="info-container">
                    <article class="label-style">
                        <label for="inputUsername">Username</label>
                    </article>
                    <article>
                        <input th:field="*{username}" class="input-style" name="username" type="text" id="inputUsername"
                               placeholder="Think about unique username">
                    </article>
                    <article>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="p-style">Username
                            length must be more than 2
                            characters</p>
                    </article>
                </div>

                <div class="info-container">
                    <label for="title" class="label-style">Select Title</label>
                    <select class="input-style" name="title" id="title">
                        <option selected value="client">Client</option>
                        <option value="Kinesitherapist">Kinesitherapist</option>
                    </select>
                </div>


                <div class="info-container">
                    <article class="label-style">
                        <label for="inputEmail">Email</label>
                    </article>
                    <article>
                        <input th:field="*{email}" class="input-style" name="email" type="email" id="inputEmail"
                               placeholder="Enter valid email">
                    </article>
                    <article>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="p-style">Enter valid email
                            address</p>
                    </article>
                </div>

                <div class="info-container">
                    <article class="label-style">
                        <label for="inputPassword">Password</label>
                    </article>
                    <article>
                        <input th:field="*{password}" class="input-style" name="password" type="password"
                               id="inputPassword"
                               placeholder="Enter valid password">
                    </article>
                    <article>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="p-style">Enter
                            password with minimum three characters length.</p>
                    </article>
                </div>

                <div class="info-container">
                    <article class="label-style">
                        <label for="inputPasswordConfirm">Confirm password</label>
                    </article>
                    <article>
                        <input th:field="*{confirmPassword}" class="input-style" name="passwordConfirm" type="password"
                               id="inputPasswordConfirm"
                               placeholder="Confirm password">
                    </article>
                    <article>
                        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                           class="p-style">Enter password with minimum three characters length.</p>
                    </article>
                </div>

            </section>
            <button class="button-style" type="submit">Register</button>
        </section>
    </form>
</main>

<div th:include="/fragment/source :: footer"></div>
</body>
</html>