<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_treatment_check.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <title>Treatment check</title>
</head>
<body>

<header th:include="/fragment/source :: navigation"></header>
<main>
    <h2>Here you can take a look at your treatments.</h2>

    <section th:each="t : ${allTreatments}" class="wrap-treatment">
        <section class="main-check">
            <img alt="treatment" class="treatment-pic" th:src="@{/img/treatment.jpeg}">
            <p th:text="|Date: *{t.dateAdded}|">Date:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Disease: *{t.disease}|">Disease:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Duration (in week): *{t.duration}|">Duration:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Visits per week: *{t.visits}|">Visits:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Goal: *{t.goal}|">Goal:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Content: *{t.content}|">Content:</p>
            <i class="fas fa-info-circle"></i>
            <p th:text="|Kinesitherapist: *{t.createdBy}|">Kinesitherapist:</p>
        </section>
    </section>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>