<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/fragment/source :: favicon"> </th:block>
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_treatment_add.css}">

    <title>Plan of treatment add</title>
</head>
<body>
<header th:include="/fragment/source :: navigation"></header>
<main>
    <form th:object="${treatmentAddBindingModel}" th:action="@{/treatment/add}" method="POST">
        <section class="wrap-pic">
            <h2 class="main-info">Add personal treatment for a client.</h2>
            <details>
                <summary><p class="help-info"><i class="fas fa-info-circle"></i>
                    Click here to see a good written plan of treatment.
                </p></summary>
                <img th:src="@{/img/example_plan.png}" class="plan-example" alt="plan">
            </details>
        </section>


        <section class="wrap-info">
            <article>
                <p class="title"><i class="fas fa-user"></i> Username</p>
                <label for="username">
                    <p class="p-style" th:if="${userFound}">Username don't exist!</p>
                    <input th:field="*{username}" class="wrap-info-inside" id="username" type="text"
                           placeholder="Enter a username of the client">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="p-style">
                    </p>
                </label>
            </article>

            <article>
                <p class="title"><i class="fas fa-file-medical-alt"></i> Disease</p>
                <label for="disease">
                    <input th:field="*{disease}" placeholder="Enter the disease" class="wrap-info-inside" id="disease"
                           type="text">
                    <p th:if="${#fields.hasErrors('disease')}" th:errors="*{disease}" class="p-style">
                    </p>
                </label>
            </article>
            <input type="hidden" th:name="nameKt" th:value="${name}">
            <article>
                <p class="title"><i class="fas fa-bullseye"></i> Goal</p>
                <label for="goal">
                    <input th:field="*{goal}" placeholder="Enter the search result" class="wrap-info-inside" id="goal"
                           type="text">
                    <p th:if="${#fields.hasErrors('goal')}" th:errors="*{goal}" class="p-style">
                    </p>
                </label>
            </article>

            <article>
                <p class="title"><i class="fas fa-file-medical-alt"></i> Visits</p>
                <label for="visits">
                    <input th:field="*{visits}" placeholder="Visits for a week" class="wrap-info-inside" id="visits"
                           type="number">
                    <p th:if="${#fields.hasErrors('visits')}" th:errors="*{visits}" class="p-style">
                    </p>
                </label>
            </article>

            <article>
                <p class="title"><i class="fas fa-clock"></i> Duration</p>
                <label for="duration">
                    <input th:field="*{duration}" placeholder="Total duration in weeks" class="wrap-info-inside"
                           id="duration" type="number">
                    <p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" class="p-style">
                    </p>
                </label>
            </article>

            <article>
                <p class="title"><i class="fas fa-book-open"></i> Content</p>
                <label for="content">
                    <textarea th:field="*{content}" class="content" id="content"></textarea>
                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="p-style">
                    </p>
                </label>
            </article>


            <button type="submit"><i class="fas fa-plus"></i> Send</button>
        </section>
    </form>
</main>
<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>
</body>
</html>