<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_view_all_users.css}">
    <link rel="stylesheet" th:href="@{/css/style_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>View all users</title>
</head>
<body>
<header th:include="/fragment/source :: navigation"></header>
<section class="static-info">
    <p th:text="|Total count of clients: ${viewAllClients}|">Total count of clients:</p>
    <br>
    <p th:text="|Total count of kinesitherapists: ${viewAllKts}|">Total count of kinesitherapists:</p>
    <div id="piechart" style="width: 500px; height: 500px;"></div>
</section>
<main>
    <section th:each="u : ${allUsers}" class="user-info">
        <img th:src="*{u.imageUrl}" width="290px" height="290px">
        <section class="background-info">


        <p th:text="|First name: *{u.firstName}|">First name</p>
        <p th:text="|Last name: *{u.lastName}|">Last name</p>
        <p th:text="|Username: *{u.username}|">Username</p>
        <p th:text="|Title: *{u.title}|">Title</p>
        <p th:text="|Email: *{u.email}|">Email:</p>
        </section>
    </section>
</main>

<div th:include="/fragment/source :: benefit"></div>
<div th:include="/fragment/source :: footer"></div>

</body>
</html>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        let kt = [[${viewAllKts}]];
        let client = [[${viewAllClients}]];
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Kinesiotherapists',     kt],
            ['Clients',      client],
        ]);

        var options = {
            title: 'Users'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>